.statistics__backdrop, .statistics__open {
  align-content: center;
  align-items: center;
  background-color: hsl(0deg 0% 100% / 66%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.statistics__barChart {
  padding: 0 60px;

  .statistics__bar {
    display: flex;
    flex-direction: row;

    .statistics__barNum {
      padding-bottom: 2px;
      padding-top: 2px;
      width: 10px;
    }
    .statistics__barCount {
      color: white;
      flex-grow: 1;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-top: 2px;
    }
  }
  .statistics__bar + .statistics__bar {
    padding-top: 8px;
  }
}

.statistics__closeIcon {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.statistics__modal {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 16px;
  position: relative;
  width: 450px
}

.statistics__open {
  z-index: 10;
}

.statistics__statsBlock {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

  > div {
    padding-bottom: 12px;
  }

  .statistics__stats {
    display: flex;
    flex-direction: row;

    .statistics__stat {
      align-items: center;
      display: flex;
      flex-direction: column;

      div:first-child {
        font-size: 36px;
        align-items: center;
        display: flex;
        font-weight: 400;
        justify-content: center;
        text-align: center;
      }

      div:last-child {
        align-content: center;
        align-items: center;
        display: flex;
        font-size: 12px;
        max-width: 60px;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .statistics__stat + .statistics__stat {
      padding-left: 18px;
    }
  }
}

.statistics__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
