.application {
  background-color: white;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  height: calc(100% - 24px);
  justify-content: space-between;
  user-select: none;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

// Statistics Styles
.statistics__backdrop,
.statistics__open {
  align-content: center;
  align-items: center;
  background-color: hsl(0deg 0% 100% / 66%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.statistics__barChart {
  padding: 0 60px;

  .statistics__bar {
    display: flex;
    flex-direction: row;

    .statistics__barNum {
      padding-bottom: 2px;
      padding-top: 2px;
      width: 10px;
    }
    .statistics__barCount {
      color: white;
      flex-grow: 1;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-top: 2px;
    }
  }
  .statistics__bar + .statistics__bar {
    padding-top: 8px;
  }
}

.statistics__closeIcon {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.statistics__modal {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 16px;
  position: relative;
  width: 450px;
}

.statistics__open {
  z-index: 10;
}

.statistics__statsBlock {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

  > div {
    padding-bottom: 12px;
  }

  .statistics__stats {
    display: flex;
    flex-direction: row;

    .statistics__stat {
      align-items: center;
      display: flex;
      flex-direction: column;

      div:first-child {
        font-size: 36px;
        align-items: center;
        display: flex;
        font-weight: 400;
        justify-content: center;
        text-align: center;
      }

      div:last-child {
        align-content: center;
        align-items: center;
        display: flex;
        font-size: 12px;
        max-width: 60px;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .statistics__stat + .statistics__stat {
      padding-left: 18px;
    }
  }
}

.statistics__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

// How_to_Play Styles
.how_to_play__strong,
.how_to_play__strongLine {
  font-weight: 900;
}

.how_to_play__modal,
.how_to_play__open {
  animation: slideOut 2s;
  background-color: #ffffff;
  bottom: 0;
  left: -100vw;
  position: fixed;
  pointer-events: none;
  right: 100vw;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.how_to_play__open {
  animation: slideIn 2s;
  left: 0;
  right: 0;
}

@keyframes slideOut {
  0% {
    left: 0;
    right: 0;
  }
  100% {
    left: -100vw;
    right: 100vw;
  }
}

@keyframes slideIn {
  0% {
    left: -100vw;
    right: 100vw;
  }
  100% {
    left: 0;
    right: 0;
  }
}

.how_to_play__contentWrapper {
  max-width: 400px;
}

.how_to_play__title {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.how_to_play__line,
.how_to_play__strongLine {
  padding: 4px 0;
  > div {
    justify-content: start;
  }
}

.how_to_play__closeIcon {
  cursor: pointer;
  pointer-events: all;
}
