.application {
  background-color: white;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  user-select: none;
  width: 100vw;
}

:global(body) {
  margin: 0;
}